@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

:root {
  --first-color: #1e2547;
  --second-color: #56b4c0;
  --third-color: #2a3468;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins';
  background: var(--first-color);
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2em;
  background-color: var(--first-color);
  text-align: center;
}
.wrapper {
  width: 100vw;
  height: 100vh;
  color: white;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2rem;
}

main {
  margin: 0 auto;
  width: 80vw;
  height: 80vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

main img {
  width: 400px;
  border: var(--second-color) dashed 5px;
}

main p {
  margin-right: 5em;
  margin-top: 1em;
}

.menu {
  display: flex;
  justify-content: right;
  width: 50%;
}

.menu li {
  list-style: none;
}

.menu a {
  font-size: 1.1rem;
  color: var(--second-color);
  text-decoration: none;
  padding: 10px 20px;
}

.menu a:hover {
  background-color: var(--second-color);
  color: var(--first-color);
  transition: ease-in, 0.3s;
}

.logobrand {
  margin-top: -7px;
}
.brand span {
  color: var(--second-color);
}

span {
  color: var(--second-color);
}

.download-cv {
  margin-top: 30px;
}

.download-cv, input[type=submit] {
  padding: 10px 20px;
  background-color: var(--second-color);
  border: none;
  border-radius: 15px;
  cursor: pointer;
  box-shadow: 1px 1px 6px 1px;
}

.download-cv:hover, input[type=submit]:hover {
  background-color: white;
  box-shadow: none;
  transition-duration: 0.4s;
}

.auto-grid {
  --auto-grid-min-size: 16rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(var(--auto-grid-min-size), 1fr));
  grid-gap: 1rem;
  padding: 4rem;
  margin-top: -2rem;
}

.auto-grid li {
  list-style: none;
  padding: 5rem 1rem;
  text-align: center;
  font-size: 1.2rem;
  background: var(--third-color);
  opacity: 0;
}

.auto-grid li:hover {
  box-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em, rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em;
  transform: scale(1.05);
  transition: ease-in 0.2s;
  background: var(--second-color);
  color: var(--first-color);
}

.projects {
  margin-top: 5em;
}

form {
  text-align: center;
}

label {
  color: var(--second-color);
}

#message {
  height: 150px;
}

input[type=submit] {
  margin-top: 10px;
}

input[type=text] {
  border-radius: 10px;
  padding: 3px;
  width: 230px;
}

.aboutme {
  text-align: justify;
  text-justify: inter-word;
  margin-top: 3em;
  margin-left: 5em;
  margin-right: 5em;
  line-height: 1.6;
  list-style-type: square;
}

.text1 {
  margin-top: 5em;
}

.text1 li {
  padding: 20px;
}

.companies {
  margin-top: 8em;
}